asgiref==3.8.1
bleach==6.1.0
blinker==1.8.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
crispy-bootstrap5==0.7
cryptography==42.0.8
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.2.13
django-allauth==0.57.2
django-crispy-forms==2.2
django-summernote==0.8.20.0
Flask==2.3.2
Flask-SQLAlchemy==2.5.1
fontstyle==1.0.1.2
google-auth==2.29.0
google-auth-oauthlib==1.2.0
gspread==6.1.0
gunicorn==20.1.0
idna==3.6
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
oauthlib==3.2.2
psycopg2==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyfiglet==1.0.2
PyJWT==2.8.0
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
SQLAlchemy==1.4.46
sqlparse==0.5.0
StrEnum==0.4.15
termcolor==2.4.0
typing_extensions==4.12.2
urllib3==2.2.1
webencodings==0.5.1
Werkzeug==3.0.3
whitenoise==5.3.0
zipp==3.19.2
